@import "../../style/color.scss";

* {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $background;
}

input[type="email"],
input[type="password"] {
  border: 1px solid $primaryLight;
  padding: 0.8rem;
  border-radius: 0.25rem;
  &:focus {
    outline-color: $primaryDark;
  }
}
button {
  background-color: $primary;
  color: $white;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  line-height: 3.75rem;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: $white;
    padding: 2.5rem;
    border-radius: 0.5rem;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    .submit {
      margin: 2rem 0 0;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin: 1rem 0 0;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    
  }

}
