@import "../../style/color.scss";

.header {
  display: flex;
  flex-direction: column;
  border-top: 2.5rem solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    margin: 2.5rem 0 0;
  }

  h1 {
    color: $white;
    margin: 1rem 0 2.5rem;
  }
}